/* styles.css */
div{
    background-color: aqua;
    border: 5px solid magenta;
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 5px 20px 200px blue;
    font-size: 20px;
}
div:hover{
    background-color: blue;
}
h1{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;

}

.blink-text {
    font-size: 2rem;
    font-weight: bold;
    color: red;
    animation: blink 1s infinite alternate;
  }
  
  @keyframes blink {
    0% { color: red; background-color: yellow; }
    100% { color: blue; background-color: cyan; }
  }
  
  

